.tg-modal-feedback-success {
  padding: 1.6rem;
  background-color: #26252A;
  width: 100%;
  max-width: 50.6rem;
  overflow: hidden;
  border-radius: 1.6rem;
  justify-content: center;
  align-items: center;
  height: 48.9rem;

  &__title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1.2rem;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    vertical-align: middle;
    color: white;
    text-align: center;
  }
}

.tg-modal-feedback-error {
  padding: 1.6rem;
  background-color: #26252A;
  width: 100%;
  max-width: 50.6rem;
  overflow: hidden;
  border-radius: 1.6rem;
  justify-content: center;
  align-items: center;
  height: 48.9rem;

  &__title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1.2rem;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    vertical-align: middle;
    color: white;
    text-align: center;
    margin-bottom: 4.8rem;
  }

  &__info-contacts-text {
    color: #9a9a9a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
  }

  &__info-contacts-text a {
    text-decoration: none;
    opacity: 1;
    transition: .3s ease opacity;
    color: white;

    @media (hover: hover) {
      &:hover {
        opacity: .65;
      }
    }
  }
}
