@use '../media';

.tg-modal-config-user {
  width: 100%;
  max-width: 44.6rem !important;
  min-height: 48.2rem;
  padding: .8rem;
  border-radius: 2.4rem;
  background-color: #26252A;

  @include media.breakpoint(tablet) {
    min-height: 36.7rem;
    max-width: 31.8rem !important;
  }

  &__header {
    position: relative;
    width: 100%;
    height: 28.3rem;
    overflow: hidden;
    border-radius: 1.6rem;
    margin-bottom: 3.2rem;

    @include media.breakpoint(tablet) {
      margin-bottom: 2.4rem;
      height: 20.1rem;
    }
  }

  &__header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/images/speaker-bg.jpg");
    background-position: center center;
    background-size: cover;
    z-index: -2;
    width: 100%;
    height: 100%;
  }

  &__header::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../assets/images/figure-four.png');
    background-position: center center;
    background-size: cover;
    z-index: -1;
    width: 9.6rem;
    height: 12rem;
  }

  &__header img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20.5rem;
    height: auto;
    object-fit: cover;
  }

  &__header span {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: white;
    position: absolute;
    bottom: 2.4rem;
    left: 2.4rem;
    z-index: 1;

    @include media.breakpoint(mobile) {
      font-size: 2rem;
      bottom: 1.2rem;
      left: 1.2rem;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    vertical-align: middle;
    color: white;
    text-align: left;
    margin: 0 8px;

    @include media.breakpoint(tablet) {
      font-size: 1.4rem;
    }
  }
}

#speaker-one,
#speaker-two,
#speaker-three,
#speaker-four,
#speaker-five,
#speaker-six,
#speaker-seven,
#speaker-eight,
#speaker-nine,
#speaker-ten,
#speaker-eleven,
#speaker-twelve,
#speaker-thirteen,
#speaker-fourteen,
#speaker-fifteen,
#speaker-sixteen,
#speaker-seventeen,
#speaker-eighteen,
#speaker-nineteen,
#speaker-twenty{
  img {
    width: 100%;
    height: 100%;
  }
}
