@use '../media';

.tg-modal-config-user {
  width: 100%;
  max-width: 44.6rem !important;
  min-height: 48.2rem;
  padding: .8rem;
  border-radius: 2.4rem;
  background-color: #26252A;

  @include media.breakpoint(tablet) {
    min-height: 36.7rem;
    max-width: 31.8rem !important;
  }

  &__header {
    position: relative;
    width: 100%;
    height: 28.3rem;
    overflow: hidden;
    border-radius: 1.6rem;
    margin-bottom: 3.2rem;

    @include media.breakpoint(tablet) {
      margin-bottom: 2.4rem;
      height: 20.1rem;
    }
  }

  &__header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/images/speaker-bg.jpg");
    background-position: center center;
    background-size: cover;
    z-index: -2;
    width: 100%;
    height: 100%;
  }

  &__header::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../assets/images/figure-four.png');
    background-position: center center;
    background-size: cover;
    z-index: -1;
    width: 9.6rem;
    height: 12rem;
  }

  &__header img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20.5rem;
    height: auto;
    object-fit: cover;
  }

  &__header span {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: white;
    position: absolute;
    bottom: 2.4rem;
    left: 2.4rem;
    z-index: 1;

    @include media.breakpoint(mobile) {
      font-size: 2rem;
      bottom: 1.2rem;
      left: 1.2rem;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    vertical-align: middle;
    color: white;
    text-align: left;
    margin: 0 8px;

    @include media.breakpoint(tablet) {
      font-size: 1.4rem;
    }
  }
}

#speaker-one img {
  bottom: -5rem;
  width: 22.5rem;

  @include media.breakpoint(mobile) {
    width: 14.5rem;
  }
}

#speaker-two img {
  bottom: -5rem;
  right: -6rem;
  width: 32.5rem;

  @include media.breakpoint(mobile) {
    width: 22.5rem;
  }
}

#speaker-three img {
  bottom: -8rem;
  right: -6rem;
  width: 30.5rem;

  @include media.breakpoint(mobile) {
    width: 22.5rem;
    bottom: -9rem;
  }
}

#speaker-four img {
  bottom: 0;
  right: -2rem;
  width: 32.5rem;

  @include media.breakpoint(mobile) {
    width: 20.5rem;
  }
}

#speaker-five img {
  bottom: -2rem;
  right: 0;
  width: 24.5rem;

  @include media.breakpoint(mobile) {
    width: 17.5rem;
    bottom: -3rem;
  }
}

#speaker-six img {
  bottom: 0;
  right: 0;
  width: 18.5rem;

  @include media.breakpoint(mobile) {
    width: 15.5rem;
    bottom: -2.5rem;
  }
}

#speaker-seven img {
  bottom: 0;
  right: 0;
  width: 19.5rem;

  @include media.breakpoint(mobile) {
    width: 11.5rem;
  }
}
#speaker-eight img {
  bottom: -2rem;
  right: 0;
  width: 21.5rem;

  @include media.breakpoint(mobile) {
    width: 13.5rem;
  }
}

#speaker-nine img {
  bottom: -5rem;
  right: 0;
  width: 23.5rem;
  
  @include media.breakpoint(mobile) {
    width: 15.5rem;
  }
}

#speaker-ten img {
  bottom: -7rem;
  right: 0;
  width: 25.5rem;

  @include media.breakpoint(mobile) {
    width: 22.5rem;
    bottom: -12rem;
  }
}
