@use '../media';

.organisers {
  &__title {
    font-weight: 700;
    font-size: 10.2rem;
    line-height: 1;
    text-align: left;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    margin-bottom: 3.2rem;

    @include media.breakpoint(tablet) {
      font-size: 4.2rem;
      margin-bottom: 2.4rem;
    }

    @include media.breakpoint(mobile) {
      font-size: 2.4rem;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.2;
    color: white;
    width: 100%;
    max-width: 54rem;
    margin-bottom: 6.4rem;

    @include media.breakpoint(mobile) {
      font-size: 1.6rem;
      max-width: 36.1rem;
      margin-bottom: 2.4rem;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: stretch;
    column-gap: 2.4rem;

    @include media.breakpoint(mobile) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      row-gap: 1.2rem;
    }
  }

  &__card {
    display: inline-block;
    width: 100%;
    max-width: 70.8rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #26252A;
    border-radius: 2.4rem;
    overflow: hidden;
    transition: .3s ease background-color;

    @media (hover: hover) {
      &:hover {
        background-color: #302f32;
      }
    }

    @include media.breakpoint(tablet) {
      height: 15.5rem;
    }
  }

  &__card svg {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  &__card:first-child svg {
    width: 29.2rem;

    @include media.breakpoint(tablet) {
      width: 16.2rem;
    }
  }

  &__card:last-child svg {
    width: 37.5rem;
    
    @include media.breakpoint(tablet) {
      width: 20.2rem;
    }
  }
}
