@use '../media';

.partners {
  position: relative;

  &__figure {
    position: absolute;
    top: -40rem;
    right: 0;
    width: 20rem;
    height: 60rem;
    object-fit: contain;

    @include media.breakpoint(large-desktop) {
      display: none;
    }

    @include media.breakpoint(medium-desktop) {
      display: block;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 10.2rem;
    line-height: 1.2;
    text-transform: uppercase;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin-bottom: 10rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2.4rem;
    align-items: stretch;
    margin-bottom: 6.4rem;
  }

  &__card-link {
    display: inline-block;
    width: 100%;
    max-width: 34.2rem;
    height: 16rem;
    background-color: #26252A;
    border-radius: 2.4rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  &__card-link:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .8rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: .3s ease opacity;

    @media (hover: hover) {
      &:hover {
        opacity: .85;
      }
    }
  }

  &__card-link:last-child svg {
    width: 2.4rem;
    height: 2.4rem;
  }

  &__card-link:last-child:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/partner-bg.jpg");
    z-index: -1;
  }

  &__button {
    width: 100%;
    background-color: #E45D22;
    height: 5.6rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    border-radius: 5.6rem;
    color: white;
    transition: 0.3s ease background-color;

    @media (hover: hover) {
      &:hover {
        background-color: #be4613;
      }
    }
  }
}
