.schedule {
  color: white;
  &__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 10.2rem;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 10rem;
  }
  &__content {

  }
  .blue-ticket {
    padding-inline: 17.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    column-gap: 8px;
    height: 5.6rem;
    border-radius: 5.6rem;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1;
    transition: 0.3sease background-color;
    width: fit-content;
    text-decoration: none;
    background-color: #26252A;
    width: 100%;
    transition: 0.3s ease background-color;
    cursor: pointer;
    margin-bottom: 5rem;

    &:hover {
      background-color: #312f35;
    }
  }
  .blue-ticket.active {
    background-color: #0288DB;
    &:hover {
      background-color: #016db0;
    }
  }
  .double {    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 3.5rem;

    &__title {
      font-size: 3rem;
      text-transform: uppercase;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    gap: 2.125rem;
    padding: 2.5rem 0;
    border-bottom: 1px solid #5A5A5A;

    &__info {
      display: flex;
      align-items: center;
      gap: 5.75rem;

      .time {
        span {
          font-size: 2.5rem;
        }
        p {
          display: none;
        }
      }
    }

    &__speaker {
      display: flex;
      align-items: center;
      gap: 2rem;

      .intro__center-people-item {
        width: 7.2rem;
        height: 7.2rem;
        position: relative;
        z-index: 5;
        border-radius: 7.2rem;
        overflow: hidden;
        animation: none;
        box-shadow: none;
      }
      span {
        font-size: 2.25rem;
        text-transform: uppercase;
      }
    }

    &__text {
      font-size: 2.25rem;
      color: #9A9A9A;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      max-height: 5rem;
    }
  }
  .lunch {
    font-size: 2rem;
    height: 5.6rem;
    border-radius: 5.6rem;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    background-color: #26252A;
    margin: 1.5rem 0;
  }
}