@use '../media';

.speakers {
  position: relative;

  .container {
    position: relative;
  }
  
  &__header {
    display: flex;
    align-items: center;
    column-gap: 9.1rem;
    margin-bottom: 1.6rem;

    @include media.breakpoint(tablet) {
      flex-direction: column;
      align-items: flex-start;
      column-gap: 0;
      margin-bottom: 2.4rem;
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: 2.4rem;
    left: 2.4rem;
    z-index: 1;

    @include media.breakpoint(mobile) {
      bottom: 1rem;
      left: 1.4rem;
    }
  }

  &__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    p {
      display: inline-block;
      color: white;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.2;
      text-decoration: none;
      transition: .3s ease opacity;
      width: 100%;
      white-space: wrap;
      margin-top: 12px;
      vertical-align: middle;

      @include media.breakpoint(tablet) {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.3;
        max-height: calc(2em * 1.3);
        font-size: 12px;
        line-height: 120%;
        margin-top: 8px;
      }
    }
  }

  &__open-modal-button {
    display: none;
    width: 26px;
    height: 26px;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('../assets/icons/arrow-diagonal-down-up-left.svg');
    
    @include media.breakpoint(tablet) {
      display: block;
    }
  }

  &__logo-wrapper {
    padding: 10px 16px;
    border-radius: 100px;
    backdrop-filter: blur(20px);
    background: #00000066;
    width: 95px;
    height: 45px;

    @include media.breakpoint(mobile) {
      width: 75px;
      height: 15px;
      padding: 2px 6px;
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &.three {
      background-image: url('../assets/images/zinatulin-logo.jpg');
    }

    &.four {
      background-image: url('../assets/images/kalukanov.jpg');
    }

    &.eight,&.one {
      background-image: url('../assets/images/marat_ivanova.svg');
    }
   
  }

  &__past-conferences {
    height: 3.6rem;
    border-radius: 3.6rem;
    background-color: #E45D22;
    padding-inline: 2.4rem;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6.4rem;
    width: fit-content;

    @include media.breakpoint(tablet) {
      font-size: 1.2rem;
      padding-inline: 1.8rem;
      height: 3rem;
      margin-bottom: 4.8rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 10.2rem;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;

    @include media.breakpoint(tablet) {
      font-size: 4.2rem;
      margin-bottom: 2.4rem;
    }

    @include media.breakpoint(mobile) {
      font-size: 2.4rem;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    color: white;
    width: 100%;
    max-width: 60.6rem;

    @include media.breakpoint(mobile) {
      font-size: 1.6rem;
      max-width: 36.1rem;
    }
  }

  .swiper {
    width: calc(100% + 4rem);
  }

  .swiper-pagination-bullet {
    background-color: rgb(134, 134, 134);
  }

  .swiper-pagination-bullet-active {
    background-color: white;
    opacity: 1;
  }

  &__cards {
    margin-bottom: 6.4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 64px;
    
    @include media.breakpoint(desktop) {
      grid-template-columns: repeat(3, 1fr);

    }

    @include media.breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__pagination {
    width: 100%;
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%) !important;
    bottom: 1.75rem !important;
    z-index: 1;
    display: flex;
    justify-content: center;
  }

  &__button-navigation {
    background-color: transparent;
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    background-color: #0288DB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    transition: .3s ease background-color;
    position: absolute;

    @media (hover: hover) {
      &:hover {
        background-color: #0066a5;
      }
    }

    @include media.breakpoint(tablet) {
      display: none;
    }
  }

  &__button-navigation svg {
    width: 100%;
    height: 100%;
  }

  &__button-navigation--to-left {
    left: -6rem;
    bottom: 42.5%;
  }

  &__button-navigation--to-right {
    bottom: 42.5%;
    right: -10rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    min-height: 36.5rem;
    width: 100% !important;
    max-width: 50rem;
    background-color: transparent;
    text-align: left;
    overflow: hidden;

    .orange::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../assets/images/orange-bg.png');
      background-position: center center;
      background-size: cover;
      z-index: -2;
      width: 100%;
      height: 100%;
    }
    

    @include media.breakpoint(tablet) {
      min-height: 18.5rem;
    }
  }

  &__card-main {
    width: 100%;
    height: 232px;
    border-radius: 2.4rem;
    overflow: hidden;
    position: relative;
    padding: 2.4rem;
    z-index: 0;
    margin-bottom: 16px;

    
    
    

    

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../assets/images/speaker-bg.jpg');
      background-position: center center;
      background-size: cover;
      z-index: -2;
      width: 100%;
      height: 100%;
    }


    @include media.breakpoint(mobile) {
      height: 116px;
      border-radius: 1.6rem;
      margin-bottom: 1.2rem;
    }
  }

  &__card-main img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20.5rem;
    height: auto;
    object-fit: cover;
  }

  &__card > span {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffff;

    
    @include media.breakpoint(tablet) {
      font-weight: 500;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: 0%;
      text-transform: uppercase;
    }
  }

  &__card.one img {
    width: 100%;
    height: 100%;
  }

  &__card.two img {
    width: 100%;
    height: 100%;
  }

  &__card.three img {
    width: 100%;
    height: 100%;
  }

  &__card.four img {
    width: 100%;
    height: 100%;
  }

  &__card.five img {
    width: 100%;
    height: 100%;
  }

  &__card.six img {
    width: 100%;
    height: 100%;
  }

  &__card.seven img {
    width: 100%;
    height: 100%;
  }

  &__card.eight img {
    width: 100%;
    height: 100%;
  }

  &__card.nine img {
    width: 100%;
    height: 100%;
  }

  &__card.ten img {
    width: 100%;
    height: 100%;
  }


  &__figure {
    position: absolute;
    bottom: 3.1rem;
    left: -2rem;
    width: 20rem;
    height: 60rem;
    object-fit: contain;
    transform: scale(-1, -1);

    @include media.breakpoint(large-desktop) {
      display: none;
    }

    @include media.breakpoint(medium-desktop) {
      display: block;
    }

    @include media.breakpoint(tablet) {
      display: none;
    }
  }
}