@use '../media';

.speakers {
  position: relative;
  
  &__header {
    display: flex;
    align-items: center;
    column-gap: 9.1rem;
    margin-bottom: 1.6rem;

    @include media.breakpoint(tablet) {
      flex-direction: column;
      align-items: flex-start;
      column-gap: 0;
      margin-bottom: 2.4rem;
    }
  }

  &__past-conferences {
    height: 3.6rem;
    border-radius: 3.6rem;
    background-color: #E45D22;
    padding-inline: 2.4rem;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6.4rem;
    width: fit-content;

    @include media.breakpoint(tablet) {
      font-size: 1.2rem;
      padding-inline: 1.8rem;
      height: 3rem;
      margin-bottom: 4.8rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 10.2rem;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;

    @include media.breakpoint(tablet) {
      font-size: 4.2rem;
      margin-bottom: 2.4rem;
    }

    @include media.breakpoint(mobile) {
      font-size: 2.4rem;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    color: white;
    width: 100%;
    max-width: 60.6rem;

    @include media.breakpoint(mobile) {
      font-size: 1.6rem;
      max-width: 36.1rem;
    }
  }

  &__cards {
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
    margin-bottom: 6.4rem;
  }

  &__card {
    display: inline-block;
    position: relative;
    padding: 0 1.2rem;
    min-height: 36.5rem;
    min-width: 46.4rem;
    background-color: transparent;
    text-align: left;
    overflow: hidden;

    @include media.breakpoint(tablet) {
      min-width: 30.4rem;
      max-width: 30.4rem;
      min-height: 18.5rem;
      padding: 0 .6rem;
    }
  }

  &__card-main {
    width: 100%;
    height: 30.5rem;
    border-radius: 2.4rem;
    overflow: hidden;
    position: relative;
    padding: 2.4rem;
    z-index: 0;
    margin-bottom: 3.2rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../assets/images/speaker-bg.jpg');
      background-position: center center;
      background-size: cover;
      z-index: -2;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      background-image: url('../assets/images/figure-four.png');
      background-position: center center;
      background-size: cover;
      z-index: -1;
      width: 9.6rem;
      height: 12rem;
    }

    @include media.breakpoint(mobile) {
      height: 18.5rem;
      border-radius: 1.6rem;
      margin-bottom: 1.2rem;
    }
  }

  &__card-main img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20.5rem;
    height: auto;
    object-fit: cover;
  }

  &__card-main span {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: white;
    position: absolute;
    bottom: 2.4rem;
    left: 2.4rem;
    z-index: 1;

    @include media.breakpoint(mobile) {
      font-size: 1.2rem;
      bottom: .8rem;
      left: .8rem;
      font-size: 1.2rem;
    }
  }

  &__card p {
    display: inline-block;
    color: white;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    padding-inline: 2.4rem;
    text-decoration: none;
    transition: .3s ease opacity;
    width: 100%;
    white-space: wrap;

    @include media.breakpoint(mobile) {
      font-size: 1.2rem;
      padding-inline: 1rem;
    }
  }

  &__card:nth-child(1) img {
    bottom: -3rem;
    width: 22.5rem;

    @include media.breakpoint(mobile) {
      width: 14.5rem;
    }
  }

  &__card:nth-child(2) img {
    bottom: -4rem;
    right: -2rem;
    width: 32.5rem;

    @include media.breakpoint(mobile) {
      width: 14.5rem;
    }
  }

  &__card:nth-child(3) img {
    bottom: -7rem;
    right: -4rem;
    width: 30.5rem;

    @include media.breakpoint(mobile) {
      width: 22.5rem;
    }
  }

  &__card:nth-child(4) img {
    bottom: 0;
    right: -2rem;
    width: 32.5rem;

    @include media.breakpoint(mobile) {
      width: 14.5rem;
    }
  }

  &__card:nth-child(5) img {
    bottom: 0;
    right: 0;
    width: 24.5rem;

    @include media.breakpoint(mobile) {
      width: 14.5rem;
    }
  }

  &__card:nth-child(6) img {
    bottom: 0;
    right: 0;
    width: 18.5rem;

    @include media.breakpoint(mobile) {
      width: 10.5rem;
    }
  }

  &__card:nth-child(7) img {
    bottom: 0;
    right: 0;
    width: 19.5rem;

    @include media.breakpoint(mobile) {
      width: 11.5rem;
    }
  }
  
  &__card:nth-child(8) img {
    bottom: 0;
    right: 0;
    width: 21.5rem;

    @include media.breakpoint(mobile) {
      width: 13.5rem;
    }
  }

  &__card:nth-child(9) img {
    bottom: -4rem;
    right: 0;
    width: 23.5rem;
    
    @include media.breakpoint(mobile) {
      width: 15.5rem;
    }
  }

  &__card:nth-child(10) img {
    bottom: -5rem;
    right: 0;
    width: 25.5rem;

    @include media.breakpoint(mobile) {
      width: 17.5rem;
    }
  }


  &__figure {
    position: absolute;
    bottom: 3.1rem;
    left: -2rem;
    width: 20rem;
    height: 60rem;
    object-fit: contain;
    transform: scale(-1, -1);

    @include media.breakpoint(large-desktop) {
      display: none;
    }

    @include media.breakpoint(medium-desktop) {
      display: block;
    }

    @include media.breakpoint(tablet) {
      display: none;
    }
  }
}
