@use "media";

.page-content {
  min-height: 100vh;
  min-height: 100dvh;
  flex-grow: 1;
}

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 148rem;
  margin: 0 auto;
  padding-inline: 2rem;

  @include media.breakpoint(mobile) {
    padding-inline: 1.6rem;
  }
}
