@use '@fancyapps/ui/dist/fancybox/fancybox.css';
@use "fonts";
@use "media";
@use "normalize";
@use "layout";
@use "common/header";
@use "common/footer";
@use "common/modal";
@use "common/burger-menu";
@use "tgconf/intro";
@use "tgconf/about";
@use "tgconf/speakers";
@use "tgconf/date";
@use "tgconf/future";
@use "tgconf/tickets";
@use "tgconf/organisers";
@use "tgconf/partners";
@use "tgconf/place";
@use "tgconf/map";
@use "tgconf/afterparty";
@use "tgconf/info";
@use "tgconf/modal-user.scss";
@use "tgconf/modal-partners.scss";


html {
  font-size: 10px;

  @include media.breakpoint(medium-desktop) {
    font-size: 0.53vw;
  }

  @include media.breakpoint(tablet) {
    font-size: 10px;
  }
}

body {
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.orange {
  color: #E45D22
}

.page-content {
  background-color: #000000;
}

section {
  margin-block: 20rem;

  @include media.breakpoint(tablet) {
    margin-block: 10.2rem;
  }
}

section:first-child {
  margin-top: 0;
}

section:last-child {
  margin-bottom: 0;
}
