.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: .3s ease background-color;

  &.--active {
    background: rgba(1, 1, 1, .5);
    backdrop-filter: blur(8px);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left-column {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }

  &__logo {
    width: 14.2rem;
    height: 2.3rem;
    object-fit: cover;
  }

  &__logo-link {
    opacity: 1;
    transition: .3s ease opacity;

    @media (hover: hover) {
      &:hover {
        opacity: .65;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    column-gap: 2.2rem;
  }

  &__nav-link {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    transition: .3s ease opacity;
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;

    @media (hover: hover) {
      &:hover {
        opacity: .65;
      }
    }
  }

  &__right-column {
    display: flex;
    align-items: center;
    column-gap: 2.4rem;
  }

  &__button-ticket {
    color: white;
    padding-inline: 2.5rem;
    column-gap: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #0288DB;
    height: 4.8rem;
    text-align: center;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 5rem;
    transition: .3s ease background-color;
    cursor: pointer;
    display: flex;
    align-items: center;

    @media (hover: hover) {
      &:hover {
        background-color: #016db0;
      }
    }
  }

  &__button-ticket-icon {
    width: 2rem;
    height: 2rem;
  }

  &__button-partner {
    background-color: transparent;
    border-radius: 5rem;
    border: .1rem solid white;
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    width: fit-content;
    font-weight: 500;
    padding-inline: 4.05rem;
    height: 4.8rem;
    color: white;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: .45s ease color;
    z-index: 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 200%;
      border-radius: 50%;
      transition: transform .45s ease;
      background: transparent;
      background-color: white;
      transform: translate(-25%, 100%);
      z-index: -2;
    }

    @media (hover: hover) {
      &:hover {
        color: #016db0;
      }
      &:hover::before  {
        transform: translate(-25%, -25%);
      }
    }
  }
}

