@use '../media';

.fancybox__content > .f-button.is-close-btn {
  --f-button-border-radius: 50%;
  --f-button-bg: rgba(0, 0, 0, 0.6);
  --f-button-width: 3.2rem;
  --f-button-height: 3.2rem;

  opacity: 1 !important;
  top: 2.4rem !important; 
  right: 2.4rem !important; 

  @include media.breakpoint(tablet) {
    top: 1.8rem !important; 
    right: 1.8rem !important; 
  }
}

.fancybox__slide {
  padding: 1rem !important;

  @include media.breakpoint(mobile) {
    padding: 3.6rem
  }
}

.f-button svg {
  stroke: white;
  width: 1.8rem !important;
  height: 1.8rem !important;
}

.tg-modal-config-video {
  padding: 0;
  background-color: transparent;
}

.tg-modal-config-video .video-container {
  width: 80vw;
  max-width: 120rem;
  aspect-ratio: 16/9;

  @include media.breakpoint(mobile) {
    width: 90vw;
    aspect-ratio: 9/10;
  }
}

.tg-modal-config-video .video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #000;
  border-radius: 8px;
}
