{{#extend "layout"}}
{{#content "main"}}
  <section class="intro">
    <div class="intro__overlay"></div>
    <div class="container">
      <div class="intro__upper">
        <span class="intro__upper-place">МОСКВА, МТС Live Hall</span>
        <time datetime="20025-10-20" class="intro__upper-date">20 ОКТЯБРЯ <span class="orange">2025</span></time>
      </div>
      <div class="intro__center">
        <ul class="intro__center-tags">
          <li class="intro__center-tags-item">#Telegram Ads</li>
          <li class="intro__center-tags-item">#Посевы в Telegram</li>
          <li class="intro__center-tags-item">#Web3 на TON</li>
        </ul> 
        <div class="intro__center-title-wrapper">
          <h1 class="intro__center-title">
          крупнейшая конференция
          по&nbsp;трафику и&nbsp;продажам
          в&nbsp;Telegram
          </h1>
          <ul class="intro__center-people-list">
            <li class="intro__center-people-item">
              <img src="/assets/images/circle-one.png" alt="person" />
            </li>
            <li class="intro__center-people-item">
              <img src="/assets/images/circle-two.png" alt="person" />
            </li>
            <li class="intro__center-people-item">
              <img src="/assets/images/circle-three.png" alt="person" />
            </li>
            <li class="intro__center-people-item">
              <img src="/assets/images/circle-four.png" alt="person" />
            </li>
            <li class="intro__center-people-item">
              <img src="/assets/images/circle-five.png" alt="person" />
            </li>
            <li class="intro__center-people-item">
              <span>35+</span>
            </li>
          </ul>
        </div>
        <button class="intro__center-buy-ticket" type="button">
          <svg width="24" height="24">
            <use xlink:href="#stars"></use>
          </svg>
          Приобрести билет
        </button>
      </div>
      <div class="intro__bottom">
        <ul class="intro__bottom-info-list">
          <li class="intro__bottom-info-item">
            <span class="intro__bottom-info-item-number">3000</span>
            <span class="intro__bottom-info-item-text">участников</span>
          </li>
          <li class="intro__bottom-info-item">
            <span class="intro__bottom-info-item-number">30+</span>
            <span class="intro__bottom-info-item-text">спикеров</span>
          </li>
          <li class="intro__bottom-info-item">
            <span class="intro__bottom-info-item-number">100+</span>
            <span class="intro__bottom-info-item-text">компаний</span>
          </li>
          <li class="intro__bottom-info-item">
            <span class="intro__bottom-info-item-number">Afterparty</span>
            <span class="intro__bottom-info-item-text">для VIP</span>
          </li>
        </ul>
      </div>
    </div>
    <img src="/assets/images/figure-one.png" alt="figure-one" class="intro__figure">
  </section>

  <section class="about">
    <img class="about__figure" src="/assets/images/figure-two.png" alt="figure-two">
    <div class="container">
      <h2 class="about__title">
        О конференции
      </h2>
      <p class="about__text">
        Для тех, кто хочет использовать возможности Telegram на&nbsp;максимум для своего бизнеса и&nbsp;не&nbsp;только
      </p>
      <ul class="about__list-tags">
        <li class="about__list-tag-item">
          Предприниматели
        </li>
        <li class="about__list-tag-item">
          Таргетологи
        </li>
        <li class="about__list-tag-item">
          Арбитражники
        </li>
        <li class="about__list-tag-item">
          Маркетологи
        </li>
        <li class="about__list-tag-item">
          Криптаны
        </li>
        <li class="about__list-tag-item">
          СМО
        </li>
        <li class="about__list-tag-item">
          Инфобизнесмены
        </li>
      </ul>
    </div>
  </section>

  <section class="speakers" id="speakers">
    <img class="speakers__figure" src="/assets/images/figure-two.png" alt="figure-two">
    <div class="container">
      <div class="speakers__header">
        <h2 class="speakers__title">
          спикеры
        </h2>
        <p class="speakers__text">
          Спикеры конференции&nbsp;&mdash; это практикующие специалисты,
          основатели проектов и&nbsp;лидеры мнений, чей профессионализм
          подтверждён программным комитетом TgConf.
        </p>
      </div>
      <div class="speakers__cards">
        <div class="speakers__card">
          <div class="speakers__card-main">
            <img src="/assets/images/speaker-one.png" alt="speaker-img"/>    
            <span>
              Марат <br> Шайхетдинов
            </span>
          </div>
          <a href="#">
            Основатель Clickise<br> и TgConf
          </a>
        </div>
        <div class="speakers__card">
          <div class="speakers__card-main">
            <img src="/assets/images/speaker-two.png" alt="speaker-img"/>
            <span>
              Марат <br> Шайхетдинов
            </span>
          </div>
          <a href="#">
            Георгий ЛобушкинБывший пресс-секретарь<br>
            Павла Дурова. Медиаменеджер, блогер, партнёр<br>агентства К2
          </a>
        </div>
        <div class="speakers__card">
          <div class="speakers__card-main">
            <img src="/assets/images/speaker-three.png" alt="speaker-img"/>
            <span>
              Марат <br> Шайхетдинов
            </span>
          </div>
          <a href="#">
            Digital-блогер и SMM-стратег, создатель<br>
            dnative.ru, сооснователь подкаст-платформы<br> mave.digital
          </a>
        </div>
        <div class="speakers__card">
          <div class="speakers__card-main">
            <img src="/assets/images/speaker-four.png" alt="speaker-img"/>
            <span>
              Марат <br> Шайхетдинов
            </span>
          </div>
          <a href="#">
            Основатель Clickise<br> и TgConf
          </a>
        </div>
        <div class="speakers__card">
          <div class="speakers__card-main">
            <img src="/assets/images/speaker-five.png" alt="speaker-img"/>
            <span>
              Марат <br> Шайхетдинов
            </span>
          </div>
          <a href="#">
            Георгий ЛобушкинБывший пресс-секретарь<br>
            Павла Дурова. Медиаменеджер, блогер, партнёр<br>агентства К2
          </a>
        </div>
        <div class="speakers__card">
          <div class="speakers__card-main">
            <img src="/assets/images/speaker-six.png" alt="speaker-img"/>
            <span>
              Марат <br> Шайхетдинов
            </span>
          </div>
           <a href="#">
            Digital-блогер и SMM-стратег, создатель<br>
            dnative.ru, сооснователь подкаст-платформы<br> mave.digital
          </a>
        </div>
      </div>
      <button class="speakers__button js-show-all" type="button">
        Все спикеры
      </button>
    </div>
  </section>

  <section class="date">
    <div class="container">
      <h2 class="date__title">
        Как это было 20 марта 
      </h2>
    </div>
    <div class="date__tape js-tape-loop" data-speed=".3" >
      <img src="/assets/images/date-one.png" alt="image"/>
      <img src="/assets/images/date-two.png" alt="image"/>
      <img src="/assets/images/date-three.png" alt="image"/>
    </div>
    <div class="date__tape js-tape-loop" data-speed=".3" data-reversed="true">
      <img src="/assets/images/date-four.png" alt="image"/>
      <img src="/assets/images/date-five.png" alt="image"/>
      <img src="/assets/images/date-six.png" alt="image"/>
      <img src="/assets/images/date-seven.png" alt="image"/>
    </div>
    <div class="date__tape js-tape-loop" data-speed=".3" >
      <img src="/assets/images/date-eight.png" alt="image"/>
      <img src="/assets/images/date-nine.png" alt="image"/>
      <img src="/assets/images/date-ten.png" alt="image"/>
      <img src="/assets/images/date-eleven.png" alt="image"/>
      <img src="/assets/images/date-twelve.png" alt="image"/>
    </div>
  </section>
{{/content}}
{{/extend}}
