<div class="attention">
  <div class="container">
    <span>До начала TgConf осталось</span>
    <div class="attention-timer">
      <div class="attention-days attention-time">
      </div>
      <div class="dots">
        <span>:</span>
        <div></div>
      </div>
      <div class="attention-hours attention-time">
      </div>
      <div class="dots">
        <span>:</span>
        <div></div>
      </div>
      <div class="attention-minutes attention-time">
      </div>
      <div class="dots">
        <span>:</span>
        <div></div>
      </div>
      <div class="attention-seconds attention-time">
      </div>
    </div>
    <a href="/#to-tickets" class="attention__button-ticket header__button-ticket">
      <svg class="attention__button-ticket-icon">
        <use xlink:href="#stars"></use>
      </svg>
      Приобрести билет
    </a>
  </div>
</div>