<div class="attention">
  <div class="container">
    <span>Высокий спрос</span>
    <div>
      <span class="attention-ticket-icon">Повышение цен в ближайшее время</span>
    </div>
    <a href="/#to-tickets" class="attention__button-ticket header__button-ticket">
      <svg class="attention__button-ticket-icon">
        <use xlink:href="#stars"></use>
      </svg>
      Приобрести билет
    </a>
  </div>
</div>