<div class="burger-menu js-burger-menu">
  <div class="container">
    <button type="button" class="burger-menu__close-btn js-close">
      <svg>
        <use xlink:href="#plus"></use>
      </svg>
    </button>
    <svg class="burger-menu__logo">
      <use xlink:href="#tgconf-logo"></use>
    </svg>
    <nav class="burger-menu__nav">
      <a class="js-close burger-menu__nav-link " href="#to-speakers">СПикеры</a>
      <a class="js-close burger-menu__nav-link" href="#to-future">Программа</a>
      <a class="js-close burger-menu__nav-link" href="#to-place">Место проведения</a>
    </nav>
    <a href="#to-tickets" class="js-close burger-menu__button-ticket">
      <svg class="burger-menu__button-ticket-icon">
        <use xlink:href="#stars"></use>
      </svg>
      Приобрести билет
    </a>
    <button data-fancybox data-src="#modal-partners" type="button" class="js-close burger-menu__button-partner">
      Стать  партнером
    </button>
  </div>
</div>
