<footer class="footer">
  <div class="container"> 
    <div class="footer__info">
      <ul class="footer__info-list-org">
        <li>
          ИП Шайхетдинов Марат Гадилович
        </li>
        <li>
          ИНН 163206088929
        </li>
        <li>
          ОГРНИП 323169000258122
        </li>
      </ul>
      <ul class="footer__info-contacts">
        <li>
          <span class="footer__info-contacts-header">
            Контакты
          </span>
          <span class="footer__info-contacts-text">
            Telegram: <a href="https://t.me/gexos" target="_blank" rel="noopener">@gexos</a>
          </span>
        </li>
        <li>
          <span class="footer__info-contacts-header">
            По вопросам<br>информационного партнерства:
          </span>
          <span class="footer__info-contacts-text">
            Telegram: <a href="https://t.me/info_tgconf" target="_blank" rel="noopener">@info_tgconf</a>
          </span>
        </li>
      </ul>
      <nav class="footer__info-anchors">
        <a href="#to-speakers">Спикеры</a>
        <a href="#to-schedule">Программа</a>
        <a href="#to-place">Место проведения</a>
        <a href="/awards">TgConf Awards</a>
      </nav>
    </div>
    <svg class="footer__logo">
      <use xlink:href="#tgconf-logo-footer"></use>
    </svg>
    <div class="footer__bottom">
      <span>© 2024–2025  TGCONF</span>
      <a href="./assets/docs/oferta.docx">
        Договор оферты
      </a>
    </div>
  </div>
</footer>
