<header class="header">
  <div class="container">
    <div class="header__left-column">
      <a href="#" class="header__logo-link">
        <svg class="header__logo">
          <use xlink:href="#tgconf-logo"></use>
        </svg>
      </a>
      <nav class="header__nav">
        <a class="header__nav-link" href="#">Программа</a>
        <a class="header__nav-link" href="#to-speakers">СПикеры</a>
        <a class="header__nav-link" href="#to-place">Место проведения</a>
        <a class="header__nav-link" href="#">TgConf Awards</a>
      </nav>
    </div>
    <div class="header__right-column">
      <button class="header__button-ticket" type="button">
        <svg class="header__button-ticket-icon">
          <use xlink:href="#stars"></use>
        </svg>
        Приобрести билет
      </button>
      <button type="button" class="header__button-partner">
        Стать  партнером
      </button>
    </div>
  </div>
</header>
