<header class="header">
  <div class="container">
    <div class="header__left-column">
      <a href="#" class="header__logo-link">
        <svg class="header__logo">
          <use xlink:href="#tgconf-logo"></use>
        </svg>
      </a>
      <nav class="header__nav">
        <a class="header__nav-link" href="#to-speakers">Спикеры</a>
        <a class="header__nav-link" href="#to-future">Программа</a>
        <a class="header__nav-link" href="#to-place">Место проведения</a>
      </nav>
    </div>
    <div class="header__right-column">
      <a href="#to-tickets" class="header__button-ticket">
        <svg class="header__button-ticket-icon">
          <use xlink:href="#stars"></use>
        </svg>
        Приобрести билет
      </a>
      <button data-fancybox data-src="#modal-partners" type="button" class="header__button-partner">
        Стать  партнером
      </button>
    </div>
    <button class="header__burger-button js-open" type="button">
      <svg class="header__button-ticket-icon">
        <use xlink:href="#burger"></use>
      </svg>
    </button>
  </div>
</header>
