<div class="tg-modal-config tg-modal-config-user" id="speaker-one" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/marat_shahabutdinov.png" alt="speaker-img"/>
    <span>
      Марат <br> Шайхетдинов
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Основатель Clickise и TgConf
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-two" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/kristosenko.png" alt="speaker-img"/>
    <span>
      Михаил <br> Христосенко
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Основатель онлайн-школы SMM Академия
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-three" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/zinatullin.png" alt="speaker-img"/>
    <span>
       Феликс <br> Зинатуллин
    </span>
  </div>
  <p class="tg-modal-config-user__text">
     Основатель "Церебро"
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-four" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/kolukanov.png" alt="speaker-img"/>
    <span>
      Павел  <br> Калюканов
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Руководитель Академии TGStat
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-five" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/numizmatka.png" alt="speaker-img"/>
    <span>
      Ирина  <br> Нумизматка
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Автор крупнейшего канала о Telegram Ads
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-six" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/amirchanan.png" alt="speaker-img"/>
    <span>
      Денис  <br> Амирханян
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Серийный предприниматель, маркетолог
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-seven" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/yaskevic.png" alt="speaker-img"/>
    <span>
      Глеб  <br> Яскевич
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Основатель AX Family
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-eight" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/ivanova.png" alt="speaker-img"/>
    <span>
      Анна  <br> Иванова
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Таргетолог и teamlead команды по трафику в Clickise
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-nine" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-nine.png" alt="speaker-img"/>
    <span>
         Дмитрий <br> Форман
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Digital-директор «Самолет»
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-ten" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-ten.png" alt="speaker-img"/>
    <span>
      Алексей <br> Соловьёв
    </span>
  </div>
  <p class="tg-modal-config-user__text">
     Лидер TON Society в СНГ
  </p>
</div>

<div class="tg-modal-config tg-modal-partners" id="modal-partners" style="display:none;">
  <h2 class="tg-modal-partners__title">
    Станьте партнером конференции
  </h2>
  <form novalidate data-need-validation class="tg-modal-partners__form">
    <label class="tg-modal-partners__form-control" for="name">
      <input placeholder="Ваше имя" name="name" type="text" class="tg-modal-partners__form-input" data-parsley-minlength="2" required="true"/>
    </label>

     <label class="tg-modal-partners__form-control" for="phone">
      <input placeholder="Номер телефона" name="phone" type="phone" class="js-phone-input tg-modal-partners__form-input" autocomplete="off" data-parsley-phone required="true"/>
    </label>

    <label class="tg-modal-partners__form-control" for="telegram">
      <input placeholder="telegram" name="telegram" type="text" class="tg-modal-partners__form-input" required="true"/>
    </label>

    <label class="tg-modal-partners__form-control" for="company">
      <input placeholder="Компания" name="company" type="text" class="tg-modal-partners__form-input"/>
    </label>

    <label class="tg-modal-partners__form-control-checkbox" for="policy">
      <div class="tg-modal-partners__checkmark-wrapper">
        <input class="tg-modal-partners__checkbox" name="policy" type="checkbox" required="true"/>
      </div>
      <p class="tg-modal-partners__form-policy">
        Я согласен(-на) с политикой конфиденциальности.
      </p>
    </label>

    <button type="button" class="tg-modal-partners__button-submit" onclick="submitForm()">
      Оставить заявку
    </button>
  </form>

  <div class="tg-modal-config tg-modal-partners" id="modal-success" style="display:none;">
    <h2 class="tg-modal-partners__title">Спасибо за вашу заявку!</h2>
    <p class="tg-modal-partners__form-policy">Ваше сообщение успешно отправлено.</p>
  </div>
</div>

<div class="tg-modal-config-video" id="speaker-video" style="display:none;">
  <div class="video-container"></div>
</div>
