<div class="tg-modal-config tg-modal-config-user" id="dialog-content" style="display:none;max-width:500px;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-four.png" alt="speaker-img"/>
    <span>
      Марат <br> Шайхетдинов
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Георгий ЛобушкинБывший пресс-секретарь<br>
    Павла Дурова. Медиаменеджер, блогер, партнёр<br>агентства К2
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="dialog-content" style="display:none;max-width:500px;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-four.png" alt="speaker-img"/>
    <span>
      Марат <br> Шайхетдинов
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Георгий ЛобушкинБывший пресс-секретарь<br>
    Павла Дурова. Медиаменеджер, блогер, партнёр<br>агентства К2
  </p>
</div>

