<div class="tg-modal-config tg-modal-config-user" id="speaker-one" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-one.png" alt="speaker-img"/>
    <span>
      Ярослав <br> Бабушкин
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Журналист Forbes Russia и автор подкаста «Респиратор Бабушкина» на RTVI
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-two" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-two.png" alt="speaker-img"/>
    <span>
      Павел <br> Калюканов
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Продакт-менеджер TgStat
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-three" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-three.png" alt="speaker-img"/>
    <span>
      Михаил <br> Христосенко
    </span>
  </div>
  <p class="tg-modal-config-user__text">
     Основатель онлайн-школы «SMM Академия»
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-four" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-four.png" alt="speaker-img"/>
    <span>
      Марат <br> Шайхетдинов
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Основатель TgConf, Clickise и TgBooster
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-five" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-five.png" alt="speaker-img"/>
    <span>
      Кирилл <br> Сибиряк
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Владелец 4 онлайн-школ лидеров в своих нишах
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-six" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-six.png" alt="speaker-img"/>
    <span>
      Ирина <br> Хакамада
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Одна из 10 лучших бизнес-спикеров России, автор бестселлеров о самореализации, кандидат экономических наук, доцент, номинант Нобелевской премии Мира
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-seven" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-seven.png" alt="speaker-img"/>
    <span>
      Георгий <br> Лобушкин
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Бывший пресс-секретарь Павла Дурова. Медиаменеджер, блогер, партнёр агентства К2
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-eight" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-eight.png" alt="speaker-img"/>
    <span>
      Феликс <br> Зинатуллин
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Основатель «Церебро»
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-nine" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-nine.png" alt="speaker-img"/>
    <span>
         Дмитрий <br> Форман
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    Digital-директор «Самолет»
  </p>
</div>

<div class="tg-modal-config tg-modal-config-user" id="speaker-ten" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="./assets/images/speaker-ten.png" alt="speaker-img"/>
    <span>
      Алексей <br> Соловьёв
    </span>
  </div>
  <p class="tg-modal-config-user__text">
     Лидер TON Society в СНГ
  </p>
</div>

<div class="tg-modal-config tg-modal-partners" id="modal-partners" style="display:none;">
  <h2 class="tg-modal-partners__title">
    Станьте партнером конференции
  </h2>
  <form novalidate data-need-validation class="tg-modal-partners__form" method="post"> 
    <label class="tg-modal-partners__form-control" for="name">
      <input placeholder="Ваше имя" name="name" type="text" class="tg-modal-partners__form-input" data-parsley-minlength="2" required="true"/>
    </label>
    
     <label class="tg-modal-partners__form-control" for="phone">
      <input placeholder="Номер телефона" name="name" type="text" class="js-phone-input tg-modal-partners__form-input" name="phone" type="phone" autocomplete="off" data-parsley-phone required="true"/>
    </label>
    
    <label class="tg-modal-partners__form-control" for="telegram">
      <input placeholder="telegram" name="telegram" type="text" class="tg-modal-partners__form-input" required="true"/>
    </label>

    <label class="tg-modal-partners__form-control" for="company">
      <input placeholder="Компания" name="company" type="text" class="tg-modal-partners__form-input"/>
    </label>

    <label class="tg-modal-partners__form-control-checkbox" for="policy">
      <div class="tg-modal-partners__checkmark-wrapper">
        <input class="tg-modal-partners__checkbox" name="policy" type="checkbox" required="true"/>
      </div>
      <p class="tg-modal-partners__form-policy">
        Я согласен(-на) с политикой конфиденциальности.
      </p>
    </label>

    <button class="tg-modal-partners__button-submit">
      Оставить заявку
    </button>
  </form>
</div>

<div class="tg-modal-config-video" id="speaker-video" style="display:none;">
  <div class="video-container">
    <video width="500" height="350" controls></video>
  </div>
</div>
