{{#extend "layout"}}
{{#content "main"}}
<section class="intro awards">
  <div class="intro__overlay"></div>
  <div class="container">
    <div class="intro__center">
      <div class="intro__center-title-wrapper">
        <h1 class="intro__center-title">
          TgConf Awards
        </h1>
      </div>
      <p class="about__text">
        Возможность голосования доступна <strong>до 15 октября 23:59</strong>. <br/>
        Результаты будут обнародованы на 2-ой день конференции на главной сцене МТС Live Холл.
      </p>
    </div>
    <div class="awards__list">
      <div class="award">
        <span>
          Лучший сервис пополнения кабинетов Telegram Ads
        </span>
        <div class="tg_block_16 award__block">
        </div>
        <a target="_blank" href="https://t.me/TgconfAwardsBot/awards?startapp=16" class="awards__button-ticket">
          <img src="../assets/icons/cup.svg" alt="figure-one" class="awards__button-ticket-icon">
          Голосовать
        </a>
      </div>
      <div class="award">
        <span>
          Лучший сервис управления рекламой в Telegram Ads
        </span>
        <div class="tg_block_17 award__block">
        </div>
        <a target="_blank" href="https://t.me/TgconfAwardsBot/awards?startapp=17" class="awards__button-ticket">
          <img src="../assets/icons/cup.svg" alt="figure-one" class="awards__button-ticket-icon">
          Голосовать
        </a>
      </div>
      <div class="award">
        <span>
          Лучшая биржа нативного продвижения в Telegram
        </span>
        <div class="tg_block_18 award__block">
        </div>
        <a target="_blank" href="https://t.me/TgconfAwardsBot/awards?startapp=18" class="awards__button-ticket">
          <img src="../assets/icons/cup.svg" alt="figure-one" class="awards__button-ticket-icon">
          Голосовать
        </a>
      </div>
      <div class="award">
        <span>
          Лучший телеграм-канал о маркетинге в Телеграм
        </span>
        <div class="tg_block_19 award__block">
        </div>
        <a target="_blank" href="https://t.me/TgconfAwardsBot/awards?startapp=19" class="awards__button-ticket">
          <img src="../assets/icons/cup.svg" alt="figure-one" class="awards__button-ticket-icon">
          Голосовать
        </a>
      </div>
      <div class="award">
        <span>
          Лучший канал про Telegram Ads
        </span>
        <div class="tg_block_20 award__block">
        </div>
        <a target="_blank" href="https://t.me/TgconfAwardsBot/awards?startapp=20" class="awards__button-ticket">
          <img src="../assets/icons/cup.svg" alt="figure-one" class="awards__button-ticket-icon">
          Голосовать
        </a>
      </div>
      {{!-- <div class="award">
        <span>
          Лучший канал про продажи в Telegram
        </span>
        <a href="#" class="awards__button-ticket">
          <img src="../assets/icons/cup.svg" alt="figure-one" class="awards__button-ticket-icon">
          Голосовать
        </a>
      </div>
      <div class="award">
        <span>
          Лучший канал о контенте в Telegram
        </span>
        <a href="#" class="awards__button-ticket">
          <img src="../assets/icons/cup.svg" alt="figure-one" class="awards__button-ticket-icon">
          Голосовать
        </a>
      </div>
      <div class="award">
        <span>
          Лучшее агентство по закупам в Telegram
        </span>
        <a href="#" class="awards__button-ticket">
          <img src="../assets/icons/cup.svg" alt="figure-one" class="awards__button-ticket-icon">
          Голосовать
        </a>
      </div> --}}
      <div class="award">
        <span>
          Лучшее агентство по трафику в Telegram Ads
        </span>
        <div class="tg_block_24 award__block">
        </div>
        <a target="_blank" href="https://t.me/TgconfAwardsBot/awards?startapp=24" class="awards__button-ticket">
          <img src="../assets/icons/cup.svg" alt="figure-one" class="awards__button-ticket-icon">
          Голосовать
        </a>
      </div>
      {{!-- <div class="award">
        <span>
          Лучшее агентство по трафику в ВК
        </span>
        <a href="#" class="awards__button-ticket">
          <img src="../assets/icons/cup.svg" alt="figure-one" class="awards__button-ticket-icon">
          Голосовать
        </a>
      </div>
      <div class="award">
        <span>
          Лучшее агентство по трафику в Яндекс.Директе
        </span>
        <a href="#" class="awards__button-ticket">
          <img src="../assets/icons/cup.svg" alt="figure-one" class="awards__button-ticket-icon">
          Голосовать
        </a>
      </div>
      <div class="award">
        <span>
          Лучший SPY-сервис в Telegram Ads
        </span>
        <a href="#" class="awards__button-ticket">
          <img src="../assets/icons/cup.svg" alt="figure-one" class="awards__button-ticket-icon">
          Голосовать
        </a>
      </div> --}}
    </div>
  </div>
</section>
{{/content}}
{{/extend}}
