<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="format-detection" content="telephone=no">
  <meta property="og:locale" content="ru_RU">

  <script type="text/javascript" src="https://cdn.qtickets.tech/openapi.js"></script>

  <link type="image/x-icon" href="assets/icons/favicon.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="assets/icons/favicon.ico" rel="icon">

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(96239679, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/96239679" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

  <!-- Pixel Tag Code -->
  <script>(function(t,l,g,r,m){t[g]||(g=t[g]=function(){g.run?g.run.apply(g,arguments):g.queue.push(arguments)},g.queue=[],t=l.createElement(r),t.async=!0,t.src=m,l=l.getElementsByTagName(r)[0],l.parentNode.insertBefore(t,l))})(window,document,'tgp','script','https://telegram.org/js/pixel.js');tgp('init','PTy0sGgv');</script>
  <!-- End Pixel Tag Code -->

  <link rel="stylesheet" href="css/core.min.css" />
  <title>TgConf — Крупнейшая конференция по Telegram</title>
</head>
<body>
  <div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
    {{> sprite}}
  </div>

  <div class="page-content">
    {{>header}}
    {{>burger-menu}}
    <main>
      {{#block "main"}}{{/block}}
    </main>
    {{>footer}}
  </div>
  {{>modals}}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=428d32ed-76b6-4133-ae2e-94978ae00167&lang=ru_RU" type="text/javascript" defer="true"></script>
  <script src="js/core.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const buyButtons = document.querySelectorAll('.tickets__card-buy-ticket-button');

      buyButtons.forEach(button => {
        button.addEventListener('click', function(e) {
          tgp('event','PTy0sGgv-ayUhAwCa');
        });
      });
    });
  </script>
</body>
</html>
