<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="format-detection" content="telephone=no">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Академия Кровли">
  <meta property="og:description" content="Академия Кровли">
  <meta property="og:url" content="https://example.com/">
  <meta property="og:image" content="https://via.placeholder.com/350x150">
  <meta property="og:site_name" content="Академия Кровли">
  <meta property="og:locale" content="ru_RU">
  
  <link rel="stylesheet" href="css/core.min.css" />
  <title>TGConf</title>
</head>
<body>
  <div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
    {{> sprite}}
  </div>

  <div class="page-content">
    {{>header}}
    <main>
      {{#block "main"}}{{/block}}
    </main>
    {{>footer}}
  </div>
  {{>modals}}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=428d32ed-76b6-4133-ae2e-94978ae00167&lang=ru_RU" type="text/javascript" defer="true"></script>
  <script src="js/core.min.js"></script>
</body>
</html>
